---
title: "SQL Formal Verification"
draft: true
---


where is absent counte?